# https://www.freedesktop.org/software/systemd/man/systemd.service.html

# sudo cp -l pinoisebox.service /etc/systemd/system/pinoisebox.service
# sudo systemctl daemon-reload
# sudo systemctl start pinoisebox.service
# sudo systemctl enable pinoisebox.service
# journalctl -u pinoisebox.service -b

[Unit]
Description=pi noisebox
After=network.target

[Service]
User=pi
WorkingDirectory=/opt/pinoisebox
# ExecStart=/usr/bin/python3 /opt/pinoisebox/src/pinoisebox/pinoisebox.py
ExecStart=cvlc --loop file:///opt/pinoisebox/media/default.mp3
StandardOutput=inherit
StandardError=inherit
Restart=always

[Install]
WantedBy=multi-user.target
